@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The easiest encounter tracker.</h1>
</div>
<hr/>
<div class="text-center">
    <h3>Update 1.1.0: Notes and Backend</h3>
    <h4>1/10/2023</h4>
    <p>Today's update configures some things for me on the back end, but more importantly gives us a notes button on each creature in the Encounter Table.
        Want to track who's fighting who? Want to note if a creature has a reaction of some kind? Want to go back and check a creature's saving throw modifier
        from anywhere at any time? Now you can!
    </p>
    <p>
        For Premium members, (more on this coming soon) you can view each creature's picture from the Notes button as well. Even more convenient for checking reactions
        and saving throw modifiers mid fight!
    </p>
    <p>
        Most importantly though, this update came out today so I could use it in the session I'm running tonight.
    </p>
</div>