@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The easiest encounter tracker.</h1>
</div>
<hr/>

<div class="text-center">
    <h3>Update 1.4.1: Bug Fixes</h3>
    <h4>5/22/2023</h4>
    <p>
        Whoops, I missed some bugs. Nothing big though. You can also use the old Encounter page that doesn't save anything if you want on the "Encounters" page!
    </p>
</div>
<hr />

<div class="text-center">
    <h3>Update 1.4.0: Saved Encounters!</h3>
    <h4>5/21/2023</h4>
    <p>
        In the biggest update since release, you can now save up to 3 encounters! Instead of your original "Encounter" page, you have an "Encounters" page that lists your encounters. Your Creature Library, initiative list, each creature's HP, AC, and 
        notes will all be saved. If you aren't registered, now is a good time. You'll still have access to the original encounter page, but lose out saved encounters.
    </p>
    <p>
        Basic members get full access to this as usual! Premium members keep their usual perks, and help keep this site live and updates coming.
    </p>
    <p>
        This update also comes with some small quality of life perks. You can now take advantage of the "Smart Adder" in the Add Creature popup. When using the "Enter" key to add creatures to the initiative list, they will be added to the list as normal
        if they have an initiative value, but if the initiative value is empty, they'll be added to the Creature Library instead.
    </p>
</div>
<hr />

<div class="text-center">
    <h3>Update 1.3.0: Creature Library</h3>
    <h4>1/26/2023</h4>
    <p>
        Exciting update! In addition to some more memory and performance optimizations, when you add a creature like normal, that creature get's added to the Creature Library! That means, if you add 3 Goblins with 7 HP and 15 AC, and some special notes,
        you can open up the Creature Library and add more goblins, with the same HP, AC, and notes! The initiative input works just like you're used to, so you can add several more at a time.
    </p>
    <p>
        For Premium members, this also carries over the image you added, if you chose to do so.
    </p>
    <p>
        For Basic members, you still get full functionality of the Creature Library!
    </p>
</div>
<hr />

<div class="text-center">
    <h3>Update 1.2.1: .NET 7 and EF 7</h3>
    <h4>1/18/2023</h4>
    <p>
        This update means very little to most users, but you should experience better performance. In the (hopefully near) future, this will also make sure any of your saved Creatures, Maps, etc. are saved and loaded much faster!
    </p>
</div>
<hr />

<div class="text-center">
    <h3>Update 1.2.0: Premium!</h3>
    <h4>1/16/2023</h4>
    <p>
        Hopefully this isn't too controversial, but you can now <a href="/Pricing">purchase a Premium subscription</a>. It's only $3 per month and I have no intentions of increasing it. 
        In the future, if the website makes enough money to break even, I'd like to implement a bulk discount, too. For now though, $3 will get you a full month. Instead of buying one of your snacks 
        at one of your weekly sesions, get a full month of Premium. Ideally, I wouldn't have to do this, but the money goes right into keeping the website alive. My web developement is free, but the web hosting and database are not. Basic users will still 
        get to use all the new and existing features, but Premium members will get some extra stuff (like pasting/uploading creature pictures on the Encounter page).
    </p>
    <p>
        If you run into any issues or have any comments or concerns, don't hesitate to email me at <a href="mailto:dmbuddy.service@gmail.com">dmbuddy.service@gmail.com</a>. Enjoy :)
    </p>
</div>
<hr/>

<div class="text-center">
    <h3>Update 1.1.0: Notes and Backend</h3>
    <h4>1/10/2023</h4>
    <p>Today's update configures some things for me on the back end, but more importantly gives us a notes button on each creature in the Encounter Table.
        Want to track who's fighting who? Want to note if a creature has a reaction of some kind? Want to go back and check a creature's saving throw modifier
        from anywhere at any time? Now you can!
    </p>
    <p>
        For Premium members, (more on this coming soon) you can view each creature's picture from the Notes button as well. Even more convenient for checking reactions
        and saving throw modifiers mid fight!
    </p>
    <p>
        Most importantly though, this update came out today so I could use it in the session I'm running tonight.
    </p>
</div>
