@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The easiest encounter tracker.</h1>
</div>
<hr/>
<div class="text-center">
    <h3>Update 1.1.0: Notes and Backend</h3>
    <h4>1/10/2023</h4>
    <p>Most of the changes in this update won't affect you and are mostly changes for me, but for you, a notes button shows up on the encounter table now.
        Clicking the notes button will open up a creatures notes section (and picture for Premium members, coming soon (sorry, there has to be a premium. The 
        coding comes from my own good will, but $70-80/mo is too much to come straight out of my pocket.)). Now if there's some feature that might affect one's 
        ability to hit due to a reaction, or you need to do a saving throw, you can check those from anywhere.

        The rest of the changes are preperation for upcoming updates I'm still working on. Mostly though, the update is today because I'm running a session tonight
        and want to use the Notes featuer.
    </p>
</div>