@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Data like username, password, and email at dmbuddy.boo are collected when you sign up for an account with us. Sensitive information, like passwords, are encrypted in our database. No staff has access to your password and will never ask for it.</p>
<p>We will not share your username, password, or other account information with anyone.</p>
<p>More data may be collected through Google AdSense. More information may be found at <a href="https://support.google.com/adsense/answer/1348695?hl=en">https://support.google.com/adsense/answer/1348695?hl=en</a>.</p>
<p>Google uses cookies to help serve the ads it displays on the websites of its partners, such as websites displaying Google ads or participating in Google certified ad networks. When users visit a Google partner's website, a cookie may be dropped on that end user's browser.</p>
<p>Third party vendors, including Google, use cookies to serve ads based on your prior visits to this website or other websites.</p>
<p>Google's use of advertising cookies enables it and its partners to serve ads to you based on your visit to our sites and/or other sites on the Internet.</p>
<p>You may opt-out of personalized advertising at <a href="https://www.google.com/settings/ads">Ads Settings</a>. Alternatively, you can direct users to opt out of a third-party vendor's use of cookies for personalized advertising by visiting <a href="www.aboutads.info">www.aboutads.info</a>.</p>