@using DmBuddyMvc.Services;
@inject AccountServices _accountServices
@{
    ViewData["Title"] = "Checkout";
    var terminfo = await _accountServices.GetRoleAndTerminationDateFromUserAsync(User);
}

<div class="row">
    <div class="col-md-8 mb-4 my-md-0">
        <h1>Add 1 month of Premium: $3</h1>
        <h2>Current Subscription: @terminfo</h2>
        <p>Thanks for checking out DmBuddy Premium! Your account will be upgraded once the payment is completed.</p>
        <p>Payments like this keep this site alive. Good hosting is expensive and web developement takes a lot of time</p>
        <p>This website is entirely developed by one person and, while I'm happy to write the code and manage the website out of good will, I cannot afford to host this entirely out of my own pocket. Thank you for your contribution!</p>
    </div>
    <div class="col-md-4 my-md-0 border-start">
        <div id="smart-button-container">
            <div style="text-align: center;">
                <div id="paypal-button-container"></div>
            </div>
        </div>
    </div>
</div>



<script src="https://www.paypal.com/sdk/js?client-id=AWYFTUuSoKdonNTQxCZNbBh3atcOAwEzoMW48VFiNAEGd3MpJCj75S9iuBxgr4FXxwDV0Mjie_cDXasq&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
<script>
    function initPayPalButton() {
        paypal.Buttons({
            style: {
                shape: 'pill',
                color: 'gold',
                layout: 'vertical',
                label: 'pay',

            },

            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{ "amount": { "currency_code": "USD", "value": 3 } }]
                });
            },

            onApprove: function (data, actions) {
                return actions.order.capture().then(function (orderData) {

                    // Full available details
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

                    // Show a success message within this page, e.g.
                    const element = document.getElementById('paypal-button-container');
                    element.innerHTML = '';
                    element.innerHTML = '<h3>Thank you for your payment!</h3>';

                    AddPremium(1);

                });
            },

            onError: function (err) {
                console.log(err);
            }
        }).render('#paypal-button-container');
    }
    initPayPalButton();

    function AddPremium(monthstoadd){
        $.post("/pricing/checkout", { months: monthstoadd }, function(result){
            window.location = "/Identity/Account/Login?returnUrl=/Pricing/Thanks"
        })
        .fail(function(){
            window.location = "/Pricing/Help";
        });
    }
</script>