@using DmBuddyMvc.Services;
@inject AccountServices _accountServices
@{
    ViewData["Title"] = "Checkout";
    var terminfo = await _accountServices.GetRoleAndTerminationDateFromUserAsync(User);
}

<div class="row">
    <div class="col-md-8 mb-4 my-md-0">
        <h1>Checkout: $3</h1>
        <h2>@terminfo</h2>
        <p>Thanks for checking out 1 month of DmBuddy Premium! Your account will be upgraded once the payment is completed.</p>
        <p>Payments like this keep this site alive. Good hosting is expensive and web developement takes a lot of time, and since this site is entirely maintained and built by 1 person, your contribution makes this possible for me. Thanks!</p>
    </div>
    <div class="col-md-4 my-md-0 border-start">
        <div id="smart-button-container">
            <div style="text-align: center;">
                <div id="paypal-button-container"></div>
            </div>
        </div>
    </div>
    <form method="post">
        <input type="hidden" id="id" value="1"/>
        <button type="submit" class="btn btn-primary">Add Premium</button>
    </form>
</div>



<script src="https://www.paypal.com/sdk/js?client-id=AWYFTUuSoKdonNTQxCZNbBh3atcOAwEzoMW48VFiNAEGd3MpJCj75S9iuBxgr4FXxwDV0Mjie_cDXasq&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
<script>
    function initPayPalButton() {
        paypal.Buttons({
            style: {
                shape: 'pill',
                color: 'gold',
                layout: 'vertical',
                label: 'pay',

            },

            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{ "amount": { "currency_code": "USD", "value": 3 } }]
                });
            },

            onApprove: function (data, actions) {
                return actions.order.capture().then(function (orderData) {

                    // Full available details
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

                    // Show a success message within this page, e.g.
                    const element = document.getElementById('paypal-button-container');
                    element.innerHTML = '';
                    element.innerHTML = '<h3>Thank you for your payment!</h3>';

                    // Or go to another URL:  actions.redirect('thank_you.html');

                });
            },

            onError: function (err) {
                console.log(err);
            }
        }).render('#paypal-button-container');
    }
    initPayPalButton();
</script>