@{
    ViewData["Title"] = "Help";
}

<h1>Sorry about that!</h1>
<p>Sorry, it looks like something went wrong. Please email <a href="mailto:dmbuddy.service@gmail.com">dmbuddy.service@gmail.com</a> and I'll get back to you as soon as possible.</p>