<div class="modal fade" id="creatureLibraryModal" tabindex="-1" aria-labelledby="creatureLibraryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="creatureLibraryModalLabel">Creature Library</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="creatureLibraryTable" class="table table-striped w-100">
                    <thead>
                        <tr>
                            <th scope="row">Name</th>
                            <th scope="row" width="40px">AC</th>
                            <th scope="row" width="80px">HP</th>
                            <th scope="row" width="120px">Initiatives</th>
                            <th width="50px"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>