<div class="modal fade" id="creatureModal" tabindex="-1" aria-labelledby="creatureModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="creatureModalLabel">Creature's Turn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="initiativeTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="row">Initiative</th>
                            <th scope="row">Name</th>
                            <th scope="row">HP</th>
                            <th></th>
                            <th style="display:none">Id</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>