<div class="d-flex align-content-center">
    <table id="initiativeTable" class="table table-striped w-100">
        <thead>
            <tr>
                <th scope="row" width="20px">Init.</th>
                <th scope="row">Name</th>
                <th scope="row" width="40px">Notes</th>
                <th scope="row" width="40px">AC</th>
                <th scope="row" width="80px">HP</th>
                <th width="180px"></th>
                <th style="display:none">Id</th>
                <th width="40px"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>