<div class="container text-center">
    <div class="d-flex justify-content-center">
        <div class="p-2">
            <button class="btn btn-primary"><i class="bi-arrow-left"></i></button>
        </div>
        <div class="p-2 w-100">
            <span id="creatureName" class="h1 text-center">my guy</span>
        </div>
        <div class="p-2">
            <button class="btn btn-primary"><i class="bi-arrow-right"></i></button>
        </div>
    </div>
    <hr/>
    <h4>HP</h4>
    <div class="d-flex justify-content-center">
        <div class="p-2">
            <button class="btn btn-outline-danger">-</button>
        </div>
        <div class="p-2">
            <span id="creatureHP">25</span>
            <div class="text-center" style="width:200px">
                <input type="text" style="width:100%" />
            </div>
            
        </div>
        <div class="p-2">
            <button class="btn btn-outline-success">+</button>
        </div>
    </div>
    
    
    <h4>AC</h4>
    <p id="creatureAC"></p>
    <h4>Notes</h4>
    <textarea id="creatureNotes" rows="10" cols="60"></textarea>
</div>