@using DmBuddyMvc.Helpers;
@{
    ViewData["Title"] = "Encounter";
}
<partial name="_AdSense" />

@if(User.IsAtLeastPremium())
{
    <div class="container text-center">
        <partial name="_CreatureNameBar" />
        <hr/>
        <div class="row row-cols-2">
            <div class="row me-2">
                    <img id="creaturePictureDisplay" style="width:100%; height:100%; background-color:dimgray" />
            </div>
            <div class="row border-start">
                <partial name="_Creature">
            </div>
        </div>
    </div>
}
else
{
    <partial name="_CreatureDisplay" />
}

<hr/>
<button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#addCreatureModal">
    <i class="bi bi-plus-lg pe-2"></i>Add Creatures
</button>
<br/>
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#creatureLibraryModal">
    <i class="bi bi-journal-richtext pe-2"></i>Creature Library
</button>
<partial name="_AddCreatureModal" />
<partial name="_CreatureLibraryModal" />

<partial name="_CreatureTable" />
<partial name="_CreatureNotesModal" />


@section scripts{
    <script src="~/js/encounter.js"></script>
    <script src="~/js/premiumEncounter.js"></script>
    <script src="~/js/library.js"></script>

    @if(User.IsAtLeastPremium()){    
        <script src="~/js/jquery.paste_image_reader.js"></script>
    }
}

