@using DmBuddyMvc.Helpers;
@{
    ViewData["Title"] = "Encounter";
}
<partial name="_AdSense" />

@if(User.IsAtLeastPremium())
{
    <div class="container text-center">
        <partial name="_CreatureNameBar" />
        <hr/>
        <div class="row row-cols-2">
            <div class="row me-2">
                    <img id="creaturePictureDisplay" style="width:100%; height:100%; background-color:dimgray" />
            </div>
            <div class="row border-start">
                <partial name="_Creature">
            </div>
        </div>
    </div>
}
else
{
    <partial name="_CreatureDisplay" />
}


<br/>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCreatureModal">
    Add Creatures
</button>
<partial name="_AddCreatureModal" />

<partial name="_CreatureTable" />
<partial name="_CreatureNotesModal" />


@section scripts{
    <script src="~/js/encounter.js"></script>
    <script src="~/js/premiumEncounter.js"></script>

    @if(User.IsAtLeastPremium()){    
        <script src="~/js/jquery.paste_image_reader.js"></script>
    }
}

