@{
    ViewData["Title"] = "Encounter";
}


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCreatureModal" >
    Add Creatures
</button>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#creatureModal">
    Open Creature Modal
</button>


<partial name="_CreatureModal" />
<partial name="_AddCreatureModal" />

@section scripts{
    <script src="~/js/encounter.js"></script>
}