@{
    ViewData["Title"] = "Saved Encounters";
}

<p>Saved Encounters 0/5:</p>
<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#newEncounterModal">Create Encounter</button>
<partial name="_NewEncounterModal"/>