<div class="d-flex justify-content-center">
        <div class="p-2">
            <button class="btn btn-primary" onclick="dmb.encounter.ShowPreviousCreature()"><i class="bi-arrow-left"></i></button>
        </div>
        <div class="p-2 w-100">
            <span id="creatureDisplayName" class="h1 text-center">Nothing yet!</span>
        </div>
        <div class="p-2">
            <button class="btn btn-primary" onclick="dmb.encounter.ShowNextCreature()"><i class="bi-arrow-right"></i></button>
        </div>
    </div>