<div class="container text-center">
    <partial name="@(DirectoryConsts.CreaturePartials)/_CreatureNameBar.cshtml" />
    <hr/>

    <partial name="@(DirectoryConsts.CreaturePartials)/_Creature.cshtml" />
</div>