@{
    ViewData["Title"] = "Demos";
}
<h1>Basic Demos</h1>
<h4>How to add creatures</h4>
<iframe class="pb-2" width="560" height="315" src="https://www.youtube.com/embed/VeHxF3O2hcA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<h4>How to use the Creature Library</h4>
<iframe class="pb-2" width="560" height="315" src="https://www.youtube.com/embed/7ONeT01_r7Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<h4>How to use Utilities</h4>
<iframe class="pb-2" width="560" height="315" src="https://www.youtube.com/embed/nV75vb_IMR0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<hr />